/*font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;*/

/********************
**   BASIC SETUP   **
*********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #535453;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

/**************************
**  REUSABLE COMPONENTS  **
**************************/

.row {
  max-width: 1200px;
  margin: 0 auto;
}

section, footer {
  padding: 80px 0;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 3.5em;
}

h2 {
  color: #dd423a;
  font-size: 2em;
}

h3 {
  font-size: 1rem;
  color: #000;
}

h5 {
  font-size: .7rem;
  color: #fff;
}

p {
  font-size: .9rem;
  font-weight: 300;
  line-height: 150%;
}


/**************************
**    HEADER SECTION    **
**************************/

header {
  height: 100vh;
  background-image: -webkit-linear-gradient(top, rgba(256, 256, 256, .8)  ,rgba(256, 256, 256, .5) 10%,  rgba(0, 0, 0, .4) 40%,  rgba(0, 0, 0, .6)),  url("../img/hero-bg.jpg");
  background-image: linear-gradient(to bottom, rgba(256, 256, 256, .8)  ,rgba(256, 256, 256, .5) 10%,  rgba(0, 0, 0, .4) 40%,  rgba(0, 0, 0, .6)),  url("../img/hero-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  position: relative;
}

.logo {
  width: 300px;
  height: auto;
  margin: 20px 0 0 200px;
  display: inline-block;
}


.hero-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1200px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

}

.hero-text-box h1 {
  margin-bottom: 60px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  line-height: 100%;
}

.hero-text-box form {
  position: relative;
  height: 60px;
  width: 55%;
  margin: 0 auto;
    margin-bottom: 20px;
}

.hero-text-box  input[type="email"]{
  padding: 0.85em 1.5em;
  width: 100%;
  border-radius: 2em;
  border: 2px solid #fff;
  background: rgba(0, 0, 0, 0.4);
  outline: none;
  font-weight: 300;
  color: #fff;
  letter-spacing: 1px;
  height: 100%;
}

.hero-text-box  input::-webkit-input-placeholder {
  color: #fff;
  font-size: .7rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hero-text-box  input::-moz-placeholder {
  color: #fff;
  font-size: .7rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hero-text-box  input:-ms-input-placeholder {
  color: #fff;
  font-size: .7rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hero-text-box  input::placeholder {
  color: #fff;
  font-size: .7rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hero-text-box  .btn-submit {
  position: absolute;
  top: 0;
  right: -1px;
  background-color: #dd423a;
  border: 2px solid #dd423a;
  border-radius: 0 2em 2em 0;
  height: 100%;
  width: 30%;
  outline: none;
  text-align: left;
  cursor: pointer;
  -webkit-transition: all .25s;
        transition: all .25s;

}

.hero-text-box  .btn-submit:hover {
  background-color: #40394a;
  border: 2px solid #40394a;
}

.hero-text-box  .btn-submit span {
  position: relative;
  color: white;
  font-size: .7rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  padding-left: 1rem;
  text-transform: uppercase;
  line-height: .7rem;
  width: 100%;
  -webkit-transition: letter-spacing .25s;
          transition: letter-spacing .25s;
}
.hero-text-box  .btn-submit:hover span {
  letter-spacing: 2px;
}


.hero-text-box .btn-submit span::after {
  position: absolute;
  top: 50%;
  right: 30px;
  content: url(../img/arrow.svg);
  width: 37px;
  height: auto;
  display: inline-block;
  line-height: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .25s;
          transition: all .25s;
}

.hero-text-box .btn-submit:hover span::after {
  right: 20px;
}


.hero-text-box h5 {
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.mouse-icon {
  border: 2px solid #fff;
  border-radius: 16px;
  display: block;
  height: 50px;
  width: 30px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  z-index: 10;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.mouse-icon .scroll {
    background: #fff;
    border-radius: 10px;
    height: 10px;
    margin: 0 auto;
    position: relative;
    top: 4px;
    width: 4px;
}

.mouse-icon .scroll {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: scrolling;
            animation-name: scrolling;
    -webkit-animation-play-state: running;
            animation-play-state: running;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

@-webkit-keyframes scrolling {
  0% {
      opacity: 0;
      top: 5px;
  }
  30% {
      opacity: 1;
      top: 10px;
  }
  100% {
      opacity: 0;
      top: 25px;
  }
}

@keyframes scrolling {
  0% {
      opacity: 0;
      top: 5px;
  }
  30% {
      opacity: 1;
      top: 10px;
  }
  100% {
      opacity: 0;
      top: 25px;
  }
}

/**************************
**    WHY SECTION    **
**************************/

.why-section {
  padding-bottom: 160px;
}

h2 {
  margin-bottom: 80px;
}

.box {
  padding: 0 2em;
  text-align: center;
}

.why-icon {
  height: 90px;
  margin-bottom: 20px;
}

.why-icon path {
  fill: #dd423a;
}

h3 {
  margin-bottom: 30px;
}


/**************************
**   DOWNLOAD SECTION   **
**************************/

.download-section {
  background-color: #eaeaea;
  padding: 0;
}

.box-left {
  position: relative;
  height: 350px;
}

.ipad-img  {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 700px;
}


.box-right {
  text-align: center;
  padding: 60px 0;
}

p.download {
  font-size: 1.7em;
  text-align: center;
  color: #4e455a;
  font-weight: 400;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  background-color: #dd423a;
  color: white;
  text-decoration: none;
  padding: 1.2em 3em;
  border-radius: 6em;
  font-size: 1.2em;
  margin: 0 auto;
  letter-spacing: 1px;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.btn:hover {
  background-color: #4e455a;
  letter-spacing: 2px;
}

/**************************
**        FOOTER         **
**************************/

footer {
  background-image: url(../img/footer-bg.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100vw auto;
  background-position: left bottom;
  width: 100vw;
}

.secondary-logo {
  width: 50px;
  margin-bottom: 10px;
}
.secondary-logo > path {
  fill: #41394b;
  -webkit-transition: fill .25s;
  transition: fill .25s;
}
.secondary-logo:hover > path {
  fill: #dd423a;
}

ul.social {
  list-style: none;
  margin-bottom: 10px;
}

ul.social li {
  display: inline;
}

ul.social li a  {
  display: inline-block;
  text-decoration: none;
}

ul.social li a .social-icon {
  width: 40px;
  margin-right: 10px;
}

ul.social li:last-child a .social-icon {
  margin-right: 0;
}

ul.social li a .social-icon > path {
  fill: #8e8d8f;
  -webkit-transition: fill .25s;
  transition: fill .25s;
}
ul.social li a:hover .social-icon > path {
  fill: #41394b;
}

small {
  font-size: .6em;
  font-weight: 700;
}

small a {
  text-decoration: none;
  color: #dd423a;
}
